.about {
    padding: 0 15px;
    padding-top: 127px;
    &__teacher {
        padding-left: 59px;
        display: flex;
        justify-content: space-between;
        &__descr {
            position: relative;
            width: 485px;
            height: 279px;
            &__bg {
                margin-top: 52px;
                width: 440px;
                height: 204px;
                background: #FFF7BE;
                border-radius: 30px;
                margin-left: 123px;
            }
            &__text {
                margin-top: 76px;
                margin-left: 75px;
                position: absolute;
                top: 0;
                width: 459px;
                height: 203px;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                color: #000000;
            }
            &__circle {
                position: absolute;
                z-index: -11111;
                top: 0;
            }
        }
       &__img {
        position: relative;
            &__border {
                top: 32px;
                position: absolute;
                right: 0;
                width: 488px;
                height: 343px;
                border: 4px dashed #018FA3;
                border-radius: 30px;
                z-index: -111;
            }
            &__photo {
                padding-right: 32px;
            }
            
       }

    }
    &__children {
        margin-top: 152px;
        display: flex;
        flex-direction: row-reverse;
        display: flex;
        justify-content: space-between;
        &__descr {
            position: relative;
            width: 485px;
            height: 279px;
            margin-right: 67px;
            &__bg {
                margin-top: 52px;
                width: 440px;
                height: 172px;
                background: #FFF7BE;
                border-radius: 30px;
            
            }
            &__text {
                margin-top: 76px;
                position: absolute;
                top: 0;
                right: 78px;
                width: 459px;
                height: 203px;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                color: #000000;
            }
            &__circle {
                position: absolute;
                z-index: -11111;
                right: 0;
                top: 120px;
            }
        }
       &__img {
        position: relative;
            &__border {
                top: 32px;
                position: absolute;
                left: 0;
                width: 488px;
                height: 343px;
                border: 4px dashed #018FA3;
                border-radius: 30px;
                z-index: -111;
            }
            &__photo {
                padding-left: 32px;
            }
            
       }
    }
}
@media(max-width:1200px) {
    .about {
        padding: 0 15px;
        padding-top: 127px;
        &__teacher {
            padding-left: 0;
            display: flex;
            justify-content: space-between;
            &__descr {
                position: relative;
                width: 485px;
                height: 279px;
                &__bg {
                    margin-top: 52px;
                    width: 440px;
                    height: 204px;
                    background: #FFF7BE;
                    border-radius: 30px;
                    margin-left: 73px;
                }
                &__text {
                    margin-top: 76px;
                    margin-left: 25px;
                    position: absolute;
                    top: 0;
                    width: 459px;
                    height: 203px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
                    color: #000000;
                }
                &__circle {
                    position: absolute;
                    z-index: -11111;
                    top: 0;
                }
            }
           &__img {
            position: relative;
                &__border {
                    top: 32px;
                    position: absolute;
                    right: 0;
                    width: 380px;
                    height: 280px;
                    border: 4px dashed #018FA3;
                    border-radius: 30px;
                    z-index: -111;
                }
                &__photo {
                    padding-right: 32px;
                    width: 400px;
                    height: 300px;
                }
                
           }
    
        }
        &__children {
            margin-top: 152px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            &__descr {
                position: relative;
                width: 485px;
                height: 279px;
                margin-right: 0;
                &__bg {
                    margin-top: 52px;
                    width: 440px;
                    height: 172px;
                    background: #FFF7BE;
                    border-radius: 30px;
                    margin-left: 20px;
                
                }
                &__text {
                    margin-top: 76px;
                    position: absolute;
                    top: 0;
                    right: 50px;
                    width: 459px;
                    height: 203px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
                    color: #000000;
                }
                &__circle {
                    position: absolute;
                    z-index: -11111;
                    right: 0;
                    top: 120px;
                }
            }
           &__img {
            position: relative;
                &__border {
                    top: 32px;
                    position: absolute;
                    left: 0;
                    width: 380px;
                    height: 280px;
                    border: 4px dashed #018FA3;
                    border-radius: 30px;
                    z-index: -111;
                }
                &__photo {
                    padding-left: 32px;
                    width: 400px;
                    height: 300px;
                }
                
           }
        }
    }
}

@media(max-width:992px) {
    .about {
        padding: 0 15px;
        padding-top: 80px;
        &__teacher {
            padding-left: 0;
            display: flex;
            justify-content: space-between;
            &__descr {
                position: relative;
                width: 350px;
                height: 279px;
                &__bg {
                    margin-top: 52px;
                    width: 320px;
                    height: 204px;
                    background: #FFF7BE;
                    border-radius: 30px;
                    margin-left: 50px;
                }
                &__text {
                    margin-top: 76px;
                    margin-left: 25px;
                    position: absolute;
                    top: 0;
                    width: 320px;
                    height: 203px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    color: #000000;
                }
                &__circle {
                    position: absolute;
                    z-index: -11111;
                    top: 0;
                }
            }
           &__img {
            position: relative;
                &__border {
                    top: 20px;
                    position: absolute;
                    right: 0;
                    width: 320px;
                    height: 250px;
                    border: 4px dashed #018FA3;
                    border-radius: 30px;
                    z-index: -111;
                }
                &__photo {
                    padding-right: 20px;
                    width: 350px;
                    height: 250px;
                }
                
           }
    
        }
        &__children {
            margin-top: 80px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            &__descr {
                position: relative;
                width: 350px;
                height: 279px;
                margin-right: 0;
                &__bg {
                    margin-top: 52px;
                    width: 320px;
                    height: 204px;
                    background: #FFF7BE;
                    border-radius: 30px;
                    margin-left: 25px;
                
                }
                &__text {
                    margin-top: 76px;
                    right: 25px;
                    position: absolute;
                    top: 0;
                    width: 320px;
                    height: 203px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    color: #000000;
                }
                &__circle {
                    position: absolute;
                    z-index: -11111;
                    right: 0;
                    top: 120px;
                }
            }
           &__img {
            position: relative;
                &__border {
                    top: 20px;
                    position: absolute;
                    left: 0;
                    width: 320px;
                    height: 250px;
                    border: 4px dashed #018FA3;
                    border-radius: 30px;
                    z-index: -111;
                }
                &__photo {
                    padding-left: 20px;
                    width: 350px;
                    height: 250px;
                }
                
           }
        }
    }
}
@media(max-width:768px) {
    .about {
        padding: 0 15px;
        padding-top: 0px;
        display: flex;
        align-items:center;
        flex-direction: column;
        &__teacher {
            width: 350px;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__descr {
                position: relative;
                width: 350px;
                height: 279px;
                &__bg {
                    margin-top: 52px;
                    width: 320px;
                    height: 204px;
                    background: #FFF7BE;
                    border-radius: 30px;
                    margin-left: 50px;
                }
                &__text {
                    margin-top: 76px;
                    margin-left: 25px;
                    position: absolute;
                    top: 0;
                    width: 320px;
                    height: 203px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    color: #000000;
                }
                &__circle {
                    position: absolute;
                    z-index: -11111;
                    top: 0;
                }
            }
           &__img {
            position: relative;
                &__border {
                    top: 20px;
                    position: absolute;
                    right: 0;
                    width: 320px;
                    height: 250px;
                    border: 4px dashed #018FA3;
                    border-radius: 30px;
                    z-index: -111;
                }
                &__photo {
                    padding-right: 20px;
                    width: 350px;
                    height: 250px;
                }
                
           }
    
        }
        &__children {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__descr {
                position: relative;
                width: 350px;
                height: 279px;
                margin-right: 0;
                &__bg {
                    margin-top: 52px;
                    width: 320px;
                    height: 204px;
                    background: #FFF7BE;
                    border-radius: 30px;
                    margin-left: 25px;
                
                }
                &__text {
                    margin-top: 76px;
                    right: 25px;
                    position: absolute;
                    top: 0;
                    width: 320px;
                    height: 203px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    color: #000000;
                }
                &__circle {
                    position: absolute;
                    z-index: -11111;
                    right: 0;
                    top: 120px;
                }
            }
           &__img {
            position: relative;
                &__border {
                    top: 20px;
                    position: absolute;
                    left: 0;
                    width: 320px;
                    height: 250px;
                    border: 4px dashed #018FA3;
                    border-radius: 30px;
                    z-index: -111;
                }
                &__photo {
                    padding-left: 20px;
                    width: 350px;
                    height: 250px;
                }
                
           }
        }
    }
}

@media(max-width:424px) {
    .about {
        padding: 0 10px;
        padding-top: 0px;
        display: flex;
        align-items:center;
        flex-direction: column;
        &__teacher {
            width: 300px;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__descr {
                position: relative;
                width: 300px;
                height: 279px;
                &__bg {
                    margin-top: 52px;
                    width: 300px;
                    height: 204px;
                    background: #FFF7BE;
                    border-radius: 30px;
                    margin-left: 0px;
                }
                &__text {
                    margin-top: 76px;
                    margin-left: 0px;
                    position: absolute;
                    top: 0;
                    width: 300px;
                    height: 203px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    color: #000000;
                }
                &__circle {
                    position: absolute;
                    z-index: -11111;
                    top: 0;
                }
            }
           &__img {
            margin-top: 20px;
            position: relative;
                &__border {
                    top: 20px;
                    position: absolute;
                    right: 0;
                    left: 5px;
                    width: 290px;
                    height: 220px;
                    border: 4px dashed #018FA3;
                    border-radius: 30px;
                    z-index: -111;
                }
                &__photo {
                    padding: 0 20px;
                    width: 300px;
                    height: 250px;
                }
                
           }
    
        }
        &__children {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__descr {
                position: relative;
                width: 300px;
                height: 279px;
                margin-right: 0;
                &__bg {
                    margin-top: 52px;
                    width: 300px;
                    height: 204px;
                    background: #FFF7BE;
                    border-radius: 30px;
                    margin-left: 0px;
                
                }
                &__text {
                    margin-top: 76px;
                    right: 0px;
                    position: absolute;
                    top: 0;
                    width: 300px;
                    height: 203px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    color: #000000;
                }
                &__circle {
                    position: absolute;
                    z-index: -11111;
                    right: 0;
                    top: 120px;
                }
            }
           &__img {
            position: relative;
                &__border {
                    top: 20px;
                    position: absolute;
                    right: 0;
                    left: 5px;
                    width: 290px;
                    height: 220px;
                    border: 4px dashed #018FA3;
                    border-radius: 30px;
                    z-index: -111;
                }
                &__photo {
                    padding-right: 20px;
                    width: 300px;
                    height: 250px;
                }
                
           }
        }
    }
}